@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body, html{
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
}